/* global styles */
body {
    background-color: black;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    margin: 0%;
    padding: 0%;
}

/* container to center content and limit width */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* full width images */
.hero img, .menu-section img {
    width: 100%;
    height: auto;
    display: block;  
    object-fit: cover;